<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>本周待办事项</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <link rel="stylesheet"  href="work4.css">
</head>

<body>
  <div id="app">
    <div class="container">
      <h2>本周待办事项</h2>
      <ul class="todo-list">
        <li v-for="item in todoList" :key="item.id" class="todo-item">
          <span>{{ item.text }}</span>
          <button class="delete-btn" @click="deleteItem(item.id)">删除</button>
        </li>
      </ul>
      <div class="input">
        <input 
          type="text" 
          v-model="newTodo" 
          placeholder="请输入待办事项..." 
          class="todo-input" 
        />
        <button class="add-btn" @click="add">添加</button>
      </div>
      <button class="clear-btn" @click="clear">清空所有</button>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app', 
      data() {
        return {
          todoList: [
            { id: 1, text: '去图书馆学习' },
            { id: 2, text: '上羽毛球课' },
            { id: 3, text: '会议室开会' }
          ],
          newTodo: '',
          nextId: 4
        };
      },
      methods: {

        add() {
          if (this.newTodo.trim() === '') 
            return;
          this.todoList.push({ id: this.nextId, text: this.newTodo });
          nextId++;
          this.newTodo = '';
        },

        deleteItem(id) {
          let newTodoList = [];
          for (let i = 0; i < this.todoList.length; i++) {
            let item = this.todoList[i];

            if (item.id !== id) {
              newTodoList.push(item); 
            }
          }
          this.todoList = newTodoList;
        },

        clear() {
          this.todoList = [];
        }
      }
    });
  </script>
</body>
</html>